<section class="" id="about-us">
    <div class="md:max-w-[60vw] max-w-[100vw] w-full mx-auto px-4 lg:px-6 py-10 bg-black relative z-1" id="aboutus">
        <div class="text-center gap-2">
            <img src="../../../../assets/img/vector/left.png" width="60" alt="">
            <h6 class="text-white subtitle text-3xl font-semibold">ABOUT US</h6>
            <img src="../../../../assets/img/vector/right.png" width="60" alt="">
        </div>

        <div class="p-8">
            <div class="flex justify-center">
                <img src="../../../../assets/img/aboutus/1.png" width="60%" class="mb-4 rounded border text-justify" alt="">
            </div>
            <p class="text-white text-justify">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using torem ipsum is that it has a more-or-less normal distribution of letters, os opposed to using Content here, content here, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem ipsum as their default model taxt and a search for lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)</p>
        </div>

        <img src="../../../../assets/img/vector/14.png" width="20%" class="absolute top-8 left-[-20%] z-0" alt="">
        <img src="../../../../assets/img/vector/14-right.png" width="20%" class="absolute top-8 right-[-20%] z-0" alt="">
    </div>
</section>