<footer class="bg-gray-800" id="contact">
  <div class="w-full">
    <iframe src="https://maps.google.com/maps?q=11.9276919,79.4823304&t=&z=13&ie=UTF8&iwloc=&output=embed&z=18" frameborder="0" style="border:0" allowfullscreen width="100%" height="200px"></iframe>
  </div>
  
    <div class="max-w-[80rem] w-full mx-auto  px-4 lg:px-6 relative z-10 ">
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-6 py-20">
          <div class="text-white">
              <h1 class="font-[700] text-xl   mb-3 text-orange-500">Contact</h1>
              <div class="mb-5">
                No. 1188PRS Tower , Trichy main Road,
                (opp) Sri Madurai Veeran Kovil,
                Near New Bus Stand, Villupuram - 605 602.
              </div>
              <div class="flex gap-2 text-xl items-center">
                <i class="fi fi-sr-phone-call text-xl  text-orange-500"></i> 7397158358
              
              </div>
              <div class="flex gap-2 text-xl items-center">
                <i class="fi fi-brands-instagram text-xl  text-orange-500"></i> maya_tattoo_tn32
              
              </div>
          </div>
          <div class="flex md:justify-center text-white">
            <div>
            <h1 class="font-[700] text-xl  mb-3 text-orange-500">Quick Links</h1>
            <div>
              <ul class="leading-8">
                <li><a href="#home">HOME</a></li>
                <li><a href="#our-services">SERVICES</a></li>
                <li><a [routerLink]="['/gallery']">GELLERY</a></li>
                <li><a href="#our-artists">ARTISTS</a></li>
                <li><a href="#about-us">ABOUT</a></li>
                <li><a href="#contact">CONTACT</a></li>
              </ul>
            </div>
          </div>
          </div>
          <div class="flex md:justify-center leading-7 text-white">
            <!--<div>
              <h1 class="font-[700] text-xl   mb-3 text-orange-500">Work Time</h1>
              <div>
                  Monday -------------- 09:00 am to 08:00 pm
              </div>
              <div>
                  Tuesday -------------- 09:00 am to 08:00 pm
              </div>
              <div>
                  Wednesday ----------- 09:00 am to 08:00 pm
              </div>
              <div>
                  Thursday ------------- 09:00 am to 08:00 pm
              </div>
              <div>
                  Friday ---------------- 09:00 am to 08:00 pm
              </div>
              <div>
                  Saturday ------------- 09:00 am to 08:00 pm
              </div>
            </div>-->
            <div class="grid grid-cols-2 gap-4">
              <div class="grid gap-4">
                <div>
                  <img class="h-auto max-w-full rounded-lg" src="../../../assets/img/gallery/1.png" alt="">
                </div>
                <div>
                  <img class="h-auto max-w-full rounded-lg" src="../../../assets/img/gallery/10.jpg" alt="">
                </div>
              </div>
              <div class="grid gap-4">
                <div>
                  <img class="h-auto max-w-full rounded-lg" src="../../../assets/img/gallery/2.png" alt="">
                </div>
                <div>
                  <img class="h-auto max-w-full rounded-lg" src="../../../../assets/img/gallery/6.png" alt="">
                </div>
              </div>
            </div>
            
          </div>
        
      </div>
    </div>
    <div class="bg-orange-500 text-white text-center py-5">
      Copyright © 2024 - Maya Tattoo Studio
    </div>
  </footer>
