<section class="hero-bg relative">
    <div class="max-w-[110rem] w-full mx-auto px-4 lg:px-6">
        <div class="h-dvh flex items-center">
            <div class="animate-jump-in animate-duration-600 animate-delay-[400ms]">
                <h6 class="text-white text-xl italic">WELCOME TO MAYA TATTOO</h6>
                <h1 class="text-orange-500 text-3xl md:text-5xl font-semibold py-2">Ink your story. Craft your masterpiece</h1>
                <h1 class="text-transparent stock text-5xl md:text-7xl font-semibold">WHERE ART MEETS SKIN</h1>
            </div>
        </div>
    </div>
    <div class="absolute bottom-0 left-0">
        <img src="../../../../assets/img/vector/2_white.png" class="w-full md:w-[65%] animate-fade-up animate-delay-1000" >
    </div>
</section>
