<section class="py-10">
    <div class="max-w-[110rem] w-full mx-auto px-4 lg:px-6">
        <div class="text-center flex justify-center pb-8 gap-2">
            <img src="../../../../assets/img/vector/left.png" width="60" alt="">
            <h6 class="text-black subtitle ">OUR ARTIST</h6>
            <img src="../../../../assets/img/vector/right.png" width="60" alt="">
        </div>

        
        <div class="flex justify-center">
            <div class="rounded overflow-hidden shadow-lg relative z-1">
                <img class="w-full" src="../../../../assets/img/gallery/9.png" alt="Sunset in the mountains">
                <div class="absolute z-2 right-50 top-10">
                    <div class="w-[50%] h-[50%] bg-[#000000] ">
                        <div class="text-white">Tattooing</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
