<section class="py-10 scroll-mt-20 md:scroll-mt-24" id="our-artists">
    <div class="max-w-[110rem] w-full mx-auto px-4 lg:px-6">
        <div class="text-center flex justify-center pb-8 gap-2">
            <img src="../../../../assets/img/vector/left.png" width="60" alt="">
            <h6 class="text-black subtitle text-3xl font-semibold">OUR ARTIST</h6>
            <img src="../../../../assets/img/vector/right.png" width="60" alt="">
        </div>

        
        <div class="py-5">
            <div class="lg:max-w-[65vw] md:max-w-[60vw] max-w-[80vw] mx-auto px-[15px] lg:px-6 flex justify-center">
                <div class="grid grid-cols mb-10 content-center">
                    <div class="relative">
                       <img src="../../../../assets/img/artist/2.jpg" class="w-[100%] z-0">
                       
                        <div class="bg-white p-3 md:p-5 lg:p-10 z-1 absolute left-[50%] md:left-[65%] top-3 md:top-10 border w-[60%] h-[120px] md:h-[160px] lg:h-[auto] lg:w-[50%] overflow-y-auto">
                            <div class="flex items-center">
                                <img class="me-2" src="../../../../assets/img/vector/tattoo-machine.png" class="w-[30px] lg:w-[50px]" alt="">
                                <p class="lg:text-3xl text-xl">JHON</p>
                            </div>
                            <p class="text-xs lg:text-base">Use the Play CDN to try Tailwind right in the browser without any build step. The Play CDN is designed for development purposes only, and is not the best choice for production.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
