<header class="fixed top-0 animate-fade-down  w-full z-20 overflow-hidden shadow py-5 bg-white">
    <div class="max-w-[110rem] w-full mx-auto relative px-4 lg:px-6">
      <nav class="md:flex justify-between items-center">
        <div class="flex justify-between items-center">
            <div class="md:hidden">
                <button id="toggleMenuButton" (click)="toggleMenu()">
                  <svg class="w-8 h-8 fill-white" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" strokeWidth="0"></g><g id="SVGRepo_tracerCarrier" strokeLinecap="round" strokeLinejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 6H20M4 12H20M4 18H20" stroke="black" strokeWidth="2" strokeLinecap="round" strokeLinejoin="round"></path> </g></svg>
                </button>
              </div>
           <div class="flex items-center gap-2">

            <div class="leading-normal">
            
              <a class="text-xl md:text-3xl font-bold"><span class="bg-orange-500 py-1 px-4 rounded-2xl text-white">Maya</span> Tattoo Studio</a>
            </div>
           </div>
           <div>
            <div class="flex items-center justify-center  md:hidden"> 
                <button id="offcanvas" (click)="toggleOffcanvas()">
                    <i class="fi fi-br-bars-staggered text-2xl"></i>
                   
                  </button>
            </div>
         
        </div>
          
        </div>
        <div class='hidden mt-2 md:mt-0 md:flex items-center space-y-6 md:space-y-0 gap-10 2xl:gap-16 uppercase' [class.hidden]="!menuOpen" id="menu">
            <a [routerLink]="['/']" class="font-semibold text-xl block hover:text-orange-500" >Home</a>
            <a [routerLink]="['/']" class="font-semibold text-xl block hover:text-orange-500" >Services</a>
            <a  [routerLink]="['/gallery']" class="font-semibold text-xl block hover:text-orange-500" >Gallery</a>
            <a [routerLink]="['/']" class="font-semibold text-xl block hover:text-orange-500" >ARTISTS</a>
            <a [routerLink]="['/']" class="font-semibold text-xl block hover:text-orange-500" >ABOUT</a>
            <a [routerLink]="['/']" class="font-semibold text-xl block hover:text-orange-500" >CONTACT</a>

        </div>
        <div class=" items-center justify-center hidden md:block"> 
            <button id="offcanvas" (click)="toggleOffcanvas()">
                <i class="fi fi-br-bars-staggered text-2xl"></i>
               
              </button>
        </div>
       
      </nav>
    </div>
</header>
<div  [ngClass]="{'translate-x-full': !offcanvasopen}" class="fixed top-0 end-0  transition-all duration-300 transform h-full max-w-xs w-full z-[80] bg-white border-s " tabindex="-1">
    <div class="flex justify-between items-center py-3 px-4">
      <h3 class="font-bold text-gray-800 ">
      
      </h3>
      <button (click)="toggleOffcanvas()" type="button" class="flex justify-center items-center w-7 h-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" >
        <span class="sr-only">Close modal</span>
        <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
      </button>
    </div>
    <div class="p-4">
        <div class="mb-5">
            <h1 class="font-[700] text-xl   mb-3 text-orange-500">Contact</h1>
            <div class="mb-5">
              #no. 1188PRS Tower , Trichy main Road,
              (opp) Sri Madurai Veeran Kovil,
              Near New Bus Stand, Villupuram - 605 602.
            </div>
            <div class="flex gap-2 text-xl items-center">
              <i class="fi fi-sr-phone-call text-xl  text-orange-500"></i> 7397158358
            
            </div>
            <div class="flex gap-2 text-xl items-center">
              <i class="fi fi-brands-instagram text-xl  text-orange-500"></i> maya_tattoo_tn32
            
            </div>
        </div>
        <div>
          <button class="py-2 px-4 bg-orange-500 text-white rounded-xl">View our works</button>
        </div>
        <div class="absolute top-[20%] opacity-15">
           <img src="./assets/h1-img-2 1.png" alt="" srcset="">
        </div>
    </div>
  </div>
