<section class="relative flex flex-col justify-center bg-slate-50 overflow-hidden">
    <div class="w-full max-w-7xl mx-auto p-6 bg-[#000000b0]">

        <!-- Animated Number Counter -->
        <div class="grid gap-12 md:grid-cols-3 md:gap-16  justify-items-center">
            <!-- Block #1 -->
            <div class="text-center">
                <div class="rounded-lg shadow-md bg-white flex justify-center items-center rotate-3 mb-6 p-5">
                    <i class="fi fi-sr-customer-care text-6xl bg-clip-text text-transparent bg-gradient-to-r from-orange-500 to-orange-300"></i>
                </div>
                <h2 class="text-white text-center">
                    <span class="flex tabular-nums text-5xl font-extrabold mb-2">
                        <span class="count" data-number="40"></span>+
                    </span>
                    <span class="inline-flex text-2xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-orange-500 to-orange-300 mb-2">Clients</span>
                </h2>
            </div>
            <!-- Block #2 -->
            <div>
                <div class="rounded-lg shadow-md bg-white flex justify-center items-center -rotate-3 mb-6 p-5">
                    <i class="fi fi-rr-feedback-review text-6xl bg-clip-text text-transparent bg-gradient-to-r from-orange-500 to-orange-300"></i>
                </div>
                <h2 class="text-white">
                    <span class="flex tabular-nums text-5xl font-extrabold mb-2">
                        <span class="count" data-number="40"></span>+
                    </span>
                    <span class="inline-flex text-2xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-orange-500 to-orange-300 mb-2">Statisfied</span>
                </h2>
            </div>
            <!-- Block #3 -->
            <div>
                <div class="rounded-lg shadow-md bg-white flex justify-center items-center rotate-3 mb-6 p-5">
                    <i class="fi fi-rr-sparkles text-6xl bg-clip-text text-transparent bg-gradient-to-r from-orange-500 to-orange-300"></i>
                </div>
                <h2 class="text-white">
                    <span class="flex tabular-nums text-5xl font-extrabold mb-2">
                        <span class="count" data-number="40"></span>+
                    </span>
                    <span class="inline-flex text-2xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-orange-500 to-orange-300 mb-2">Tattoos</span>
                </h2>
            </div>
        </div>
        <!-- End: Animated Number Counter -->

    </div>

    <div class="absolute top-0 left-0 flex">
        <img src="../../../../assets/img/vector/border.png" class="w-full" >
        <img src="../../../../assets/img/vector/border.png" class="w-full" >
    </div>

    <div class="absolute bottom-0 left-0 flex">
        <img src="../../../../assets/img/vector/border1.png" class="w-full" >
        <img src="../../../../assets/img/vector/border1.png" class="w-full" >
    </div>
</section>
