<section class="py-10">
    <div class="max-w-[110rem] w-full mx-auto px-4 lg:px-6">
        <div class="text-center flex justify-center pb-8 gap-2">
            <img src="../../../../assets/img/vector/left.png" width="60" alt="">
            <h6 class="text-black subtitle text-3xl font-semibold">GALLERY</h6>
            <img src="../../../../assets/img/vector/right.png" width="60" alt="">
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="../../../../assets/img/gallery/12.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="../../../../assets/img/gallery/1.png" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="../../../../assets/img/gallery/2.png" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="../../../../assets/img/gallery/6.png" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="../../../../assets/img/gallery/7.png" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="../../../../assets/img/gallery/6.png" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="../../../../assets/img/gallery/11.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="../../../../assets/img/gallery/1.png" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="../../../../assets/img/gallery/2.png" alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="../../../../assets/img/gallery/10.jpg" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="../../../../assets/img/gallery/3.png" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="../../../../assets/img/gallery/6.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
