<section class="py-10 relative scroll-pt-[24rem] overflow-hidden"  id="our-services">
    <div class="max-w-[110rem] w-full mx-auto px-4 lg:px-6">
        <div class="text-center flex justify-center pb-8 gap-2">
            <img src="../../../../assets/img/vector/left.png" width="60" alt="">
            <h6 class="text-black subtitle text-3xl font-semibold">OUR SERVICES</h6>
            <img src="../../../../assets/img/vector/right.png" width="60" alt="">
        </div>

        
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 animate-fade-up animate-delay-500">
            <div class="group/item rounded overflow-hidden shadow-lg relative">
                <img class="w-full" src="../../../../assets/img/services/1.jpg" alt="Sunset in the mountains">
                <div class="w-full h-full top-0 group/edit invisible absolute flex flex-col justify-center items-center animate-jump-in animate-duration-1000 animate-delay-300 bg-[#0000009a] group-hover/item:visible">
                    <div class="text-white">Tattooing</div>
                </div>
            </div>
            <div class="group/item rounded overflow-hidden shadow-lg relative">
                <img class="w-full" src="../../../../assets/img/services/1.jpg" alt="Sunset in the mountains">
                <div class="w-full h-full top-0 group/edit invisible absolute flex flex-col justify-center items-center animate-jump-in animate-duration-1000 animate-delay-300 bg-[#0000009a] group-hover/item:visible">
                    <div class="text-white">Tattoo Remove</div>
                </div>
            </div>
            <div class="group/item rounded overflow-hidden shadow-lg relative">
                <img class="w-full" src="../../../../assets/img/services/3.jpg" alt="Sunset in the mountains">
                <div class="w-full h-full top-0 group/edit invisible absolute flex flex-col justify-center items-center animate-jump-in animate-duration-1000 animate-delay-300 bg-[#0000009a] group-hover/item:visible">
                    <div class="text-white">Tattoo Change</div>
                </div>
            </div>
        </div>
    </div>

    <div class="absolute z-[-1] top-40 left-0">
        <img src="../../../../assets/img/vector/slanding.png" class="" width="200px" alt="" srcset="">
    </div>
</section>
