/*.subtitle::after {
    content: "";
    width: 60px;
    height: 30px;
    background:rgba(255, 255, 255, 0) url("../../../../assets/img/vector/right.png") no-repeat;
    background-size: contain;
    position: absolute;
    margin: 0 0 0 10px;
}

*/.before {
background-color: #0000006c;
}